body {
    background-color: #f5f5f5;
    padding: 1em 1.5em 1.5em;
}
#board {
    background-color: #eee;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    padding: .5%;
}
.tileContainer {
    float: left;
    height: 25%;
    width: 25%;
}
.tileContainer span {
    background-color: #add4cc;
    color: #454545;
    display: block;
    font-size: 2em;
    margin: 4%;
    padding: .5em 20%;
    text-align: center;
    width: 52%;
}
@media screen and (min-width : 30em){
    .tileContainer span {
        font-size: 3em;
        padding: 1em 20%;
    }
}
@media screen and (min-width : 60em){
    .tileContainer span {
        font-size: 4em;
        padding: 1em 20%;
    }
}  
