body { 
    
}

table { 
    background-color: black;
    color: white;
    font-size: 20px;
}

td { padding:10px;
    border: 2px solid gray;

}

span {
    opacity:0;
    cursor: pointer;
}

span.colorMatched { 
    opacity: 1; 
    background-color: yellow; 
}

span.visible { 
    opacity: 1; 
} 
