<div class="jumbotron" ng-controller="GameControl as app">
  <!-- <h1>Memory</h1> -->
  <!-- <h1>{{ game.numberPairs }}</h1> -->
  <div class="score-board">
    <h3>It's {{ game.player }}'s turn...</h3>
    <h3>Player 1 Score: {{ game.playerOneScore}} </h3>
    <h3>Player 2 Score: {{ game.playerTwoScore }}</h3>
  </div>
  
  <div class="card-board">
    <div ng-repeat="num in game.numberPairs track by $index">
     <flipcard data-click-toggle="true" ng-click="game.flipCard($event)">
          <flipcard-front>
              <!-- <img src="http://placehold.it/300&text=Flip Me" alt="the front" /> -->
          </flipcard-front>
          <flipcard-back>
              <!-- <img src="http://placehold.it/300&text={{ num }}" alt="the back" /> -->
              <h1>{{ num }}</h1>
          </flipcard-back>
      </flipcard>
    </div>
  </div>
</div>
